html
	head
		title Pano ID Parser

		script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js')
		script(src='js/common.js')
		script(src='js/lib/GSVPano.js')
		script(src='js/lib/sisyphus.js')
		script(src='js/panoid-parser.js')

		link(rel='stylesheet', href='css/simple-gui.css')
		style.
			#svp, #map {
				width: 100%;
				height: 50%;
			}

	body
		nav#panoid-parser
			h1 Pano ID Parser
			a(href="./index.html") [back to menu]
			a(href="./index.html" target="_blank") [new window]

			dl
				dt street view url || pano id
				dd
					input(name='url' type='text' value='https://www.google.com/maps/@46.83622,9.854884,3a,75y,3.59h,33.55t/data=!3m5!1e1!3m3!1sHfxFYUWRjrFi_z2d-iLXtQ!2e0!3e5?hl=en-US')

				dt add list
				dd
					input(name='addlist' type='checkbox' checked)

				dt auto search
				dd
					input(name='autosearch' type='checkbox' checked)

				dt interval
				dd
					input(name='interval' type='number' value='1')

			button#laod load
			button#clear clear
			button#undo undo
			button#export export
			br
			button#set-pano set pano

			hr

			div#status.container.
				count: 0<br>
				duration: 0s

			hr

			p#console

			dl
				dt pano data
				dd
					textarea#json(name="json" style='height:300px;')
					br
					a(href='gsv-generator.html') GSV Generator


		article
			div#svp svp
			div#map map