@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "ocr";
  src: url(../assets/Consolas.ttf);
}
*, ::after, ::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "ocr";
}

body {
  font-size: 15px;
  font-family: Helvetica, Arial, "游ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  line-height: 1.6;
}

button {
  font-size: 15px;
  background: #777;
  margin: 10px;
  border: 0;
  padding: 8px 20px;
  color: white;
  cursor: pointer;
  letter-spacing: 0.05em;
}
button:active {
  backgrond: #4196DE;
}

input[type=text], input[type=number], input[type=url], textarea {
  margin: 4px;
  padding: 6px 10px;
  font-size: 15px;
  border: 2px solid #bbb;
}
input[type=text]:-moz-placeholder, input[type=number]:-moz-placeholder, input[type=url]:-moz-placeholder, textarea:-moz-placeholder {
  coolor: #eee;
}
input[type=text]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=url]::-moz-placeholder, textarea::-moz-placeholder {
  coolor: #eee;
}
input[type=text]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  coolor: #eee;
}
input[type=text]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  coolor: #eee;
}
input[type=text]:focus, input[type=number]:focus, input[type=url]:focus, textarea:focus {
  border-color: #4196DE;
}

input:disabled, textarea:disabled {
  background-color: #eee;
}

nav {
  background: #ddd;
  width: 250px;
  height: 100%;
  overflow: scroll;
}
nav h1 {
  font-size: 24px;
  color: white;
  padding: 8px;
  text-align: center;
  background: #333;
}
nav dt {
  padding: 10px 10px 8px;
  font-weight: bold;
}
nav dd {
  padding: 0 10px 10px;
  border-bottom: 1px solid #bbb;
}
nav hr {
  border: 0;
  border-bottom: 1px solid #bbb;
}
nav div.container {
  padding: 10px;
}

strong {
  font-weight: bold;
}

article {
  position: absolute;
  top: 0;
  left: 250px;
  bottom: 0;
  right: 0;
  overflow: scroll;
}

.tasks li {
  position: relative;
  list-style: none;
  margin: 10px;
  border: 1px solid #ccc;
}
.tasks h1 {
  padding: 8px 10px;
  background: #aaa;
  font-size: 18px;
  font-weight: bold;
}
.tasks button.action {
  position: absolute;
  top: -4px;
  right: 10px;
}
.tasks canvas {
  width: 50%;
  height: auto;
}
.tasks progress {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  #background-color: #bbbbbb;
  border-radius: 0;
}
.tasks progress:after {
  content: attr(data-label);
  display: block;
  position: absolute;
  #color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-align: center;
}
