doctype html
html
	head
		title GSV Generator

		script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js')

		script(src='js/lib/sisyphus.js')
		script(src='js/lib/glsl.min.js')
		script(src='js/common.js')
		script(src='js/GSVPano.js')
		script(src='js/jquery.file.js')
		script(src='js/GSVHyperlapse.js')
		script(src='js/canvas-matrix-code.js')
		script(src='js/gsv-generator.js')

		link(rel='stylesheet', href='css/simple-gui.css')
		script#pano-rotation(type='x-shader/x-fragment')
			include shader/pano-rotation.fs

	body
		nav#gsv-generator
			h1 GSV Generator
			a(href="./index.html") [back to menu]
			a(href="./index.html" target="_blank") [new window]

			dl
				dt name
				dd
					input(name='name' type='text' value='island')

				dt exporting dir (rel)
				dd
					input(name='dirFile' type='file' webkitdirectory)
					br
					input(name='dir' type='text' value='~/')

				dt heading
				dd
					//- input#heading-1(name='headingMode' type='radio' value='backward')
					//- label(for='heading-1') backward 
					//- br

					input#heading-2(name='headingMode' type='radio' value='lookat')
					label(for='heading-2') lookat
					br

					input#heading-3(name='headingMode' type='radio' value='north' checked)
					label(for='heading-3') north
					br 
					
					input#heading-4(name='headingMode' type='radio' value='begin')
					label(for='heading-4') begin

					br

				dt(data-parent='#heading-2') lookat (lat, lng)
				dd(data-parent='#heading-2')
					input(name='lookat' type='text')

				dt zoom(proxy=2, rendring=6)
				dd
					input(name='zoom' type='number' value='2')

				dt method
				dd
					input#method-1(name='method' type='radio' value='direction')
					label(for='method-1') direction

					input#method-2(name='method' type='radio' value='panoid' checked)
					label(for='method-2') pano id json

			//- direction
			dl(data-parent='#method-1' style="background:#bdd;")
				dt origin / destination name
				dd
					p from
					input(name='originName' type='text' value='恵比寿駅')
					p to
					input(name='destinationName' type='text' value='永福町駅')


				dt travel mode
				dd
					input#travel-mode-1(name='travelMode' type='radio' value='DRIVING' checked)
					label(for='travel-mode-1') driving

					input#travel-mode-2(name='travelMode' type='radio' value='WALKING')
					label(for='travel-mode-2') walking

				dt step(m)
				dd
					input(name='step' type='number' value='10')

				dt sv search radius(m)
				dd
					input(name='searchRadius' type='number' value='5')

			//- pano id list
			dl(data-parent='#method-2' style="background:#dbd;")
				dt pano id
				dd
					a(href='panoid-parser.html' target="_blank") pano id parser
					br
					textarea(name='panoid')

			button#create create

		article
			dl.tasks