doctype html
// 
// island https://www.google.co.jp/maps/dir/-3.8627398,-32.4155203/-3.8623602,-32.4207532/@-3.8621801,-32.4174875,17z/data=!4m2!4m1!3e2
// fiyorudo https://www.google.com/maps/dir/45.2225007,6.1375653/45.2246012,6.1391705/@45.2226213,6.1340457,16z/data=!3m1!4b1!4m2!4m1!3e0?hl=ja
// aqua line https://www.google.co.jp/maps/dir/35.4626822,139.8760935/35.463556,139.8765012/@35.4638422,139.8727434,17z/data=!3m1!4b1!4m2!4m1!3e0
html
	head
		title GSV Generator

		script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js')
		script(src='js/lib/GSVPano.js')
		script(src='js/lib/glsl.min.js')
		//script(src='js/lib/hyperlapse.min.js')
		script(src='js/canvas-exporter.js')
		script(src='js/GSVHyperlapse.js')
		script(src='js/gsv-generator.js')

		link(rel='stylesheet', href='css/simple-gui.css')
		script#pano-rotation(type='x-shader/x-fragment')
			include shader/pano-rotation.fs

	body
		nav
			h1 GSV Generator

			dl
				dt name
				dd
					input#name(type='text' value='island')

				dt exporting dir (rel)
				dd
					input#dir(type='text', value='../../gsv')

				dt method
				dd
					input#method-1(type='radio', name='method', value='direction' checked)
					label(for='method-1') direction

					input#method-2(type='radio', name='method', value='panoid')
					label(for='method-2') pano id

				dt(data-parent='#method-1') direction url
				dd(data-parent='#method-1')
					input#url(type='url' value='https://www.google.co.jp/maps/dir/-3.8627398,-32.4155203/-3.8623602,-32.4207532/@-3.8621801,-32.4174875,17z/data=!4m2!4m1!3e2')

				dt(data-parent='#method-2') pano id
				dd(data-parent='#method-2')
					a(href='panoid-parser.html' target='_blank') pano id parser
					br
					textarea#panoid(data-onchecked='#method-2')

				dt travel mode
				dd
					input#travel-1(type='radio', name='travel', value='driving', checked)
					label(for='travel-1') driving

					input#travel-2(type='radio', name='travel', value='walking')
					label(for='travel-2') walking
					br

				dt heading
				dd
					input#heading-1(type='radio', name='heading', value='forward')
					label(for='heading-1') forward 
					br

					input#heading-2(type='radio', name='heading', value='latlng')
					label(for='heading-2') latlng
					br

					input#heading-3(type='radio', name='heading', value='north', checked)
					label(for='heading-3') north
					br

				dt lookat url
					input#lookat(type='text' data-parent='#heading-2')

				dt zoom(proxy=2, rendring=6)
				dd
					input#zoom(type='number' value='2')

				dt step(m)
				dd
					input#step(type='number', value='10')

				dt sv search radius(m)
				dd
					input#search-radius(type='number', value='5')

			button#create create

		article
			dl.tasks