doctype html
html
	head
		title Replace Proxy

		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
		script(src='js/lib/glsl.min.js')
		script(src='js/lib/sisyphus.js')
		script(src='js/common.js')
		script(src='js/GSVPano.js')
		script(src='js/canvas-matrix-code.js')
		script(src='js/GSVHyperlapse.js')
		script(src='js/replace-proxy.js')

		link(rel='stylesheet', href='css/main.css')

		script#pano-rotation(type='x-shader/x-fragment')
			include shader/pano-rotation.fs

		style.
			#pano * {
				width: 100%;
				height: auto;
			}

			canvas {
				width: 100%;
				float:left;
			}

			progress {
				width: 100%;
				display: block;
				margin-bottom: 10px;
			}

	body
		h1 Replace Proxy

		a(href="./index.html") [back to menu]
			a(href="./index.html" target="_blank") [new window]

		dl#replace-proxy
			dt Select Directory
			dd
				input(name="file" type="file", webkitdirectory)
			dt Source
			dd
				input(name="source" type="text")

			dt Quality
			dd
				small 4 = 6656px, 5 = 13312px
				input(name="zoom" type="number" min="1" max="5" value="5")

			dt Progress
				div#stat-seq(style='text-align:center;') (0/0)
				progress#prog-seq(max="100")
				div#stat-pano(style='text-align:center;') 0%
				progress#prog-pano(max="100")

		button(id="decode") Decode

		hr

		canvas(id="src", style="width:50%;float:left;background:pink;")
		canvas(id="out", style="width:50%;float:left;background:black;")
		canvas(id="tag", style="width:100%;background:red;")

		hr 

		p#console(style="width:100%;height:120px;")
