doctype html
html
	head
		title GSV Generator

		script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js')

		script(src='js/lib/sisyphus.js')
		script(src='js/lib/glsl.min.js')
		script(src='js/common.js')
		script(src='js/GSVPano.js')
		script(src='js/jquery.file.js')
		script(src='js/GSVHyperlapse.js')
		script(src='js/canvas-matrix-code.js')
		script(src='js/test-map.js')

	body
		a(target="_blank" href="/") top

		div#map(style="width:600px;height:600px;")